.board { 
    display: table;
    table-layout:fixed;
    border: 1px solid #004958;
	font-size:2.4rem;
    height: 8em;
    width: 8em;
    box-sizing:border-box;
	margin-right:1rem;
}

.board .row {
    display: table-row;
    box-sizing:border-box;
    height: 1em;
}

.board .square {
    display: table-cell;
    box-sizing: border-box;
    border: 1px solid #ccc;
    line-height: 1em;
    text-align:center;
    font-size: 0.9em;
	width: 1em;
	height: 1em;
    position:relative;
}

.board .row:nth-child(even) .square:nth-child(odd),
.board .row:nth-child(odd) .square:nth-child(even) {
    background: #eee;
}

.board .piece {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: block;
    cursor: move;
}

.board .square .piece {
    pointer-events:none;
}

.game .board .square.dragover {
    background: gold !important;
}

.game .board .square.occupied:hover {
    box-shadow: gold 0 0 0 2px inset;
    cursor: move;
}